<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Edit "{{ obj }}"?</p>
        <input type="text" name="title" value="{{ obj }}" size="50">
        <input type="submit" value="Confirm">
    </form>
    <br>
    <a href="{{ request.META.HTTP_REFERER }}">
        <button>Cancel</button>
    </a>
</body>
</html>