<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Django</title>
</head>
<body>
    <h1>Todo Django</h1>

    <form action="{% url 'add-todo' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Add new task" size="50">
        <input type="submit" value="Add">
    </form>

    <ol>
        {% for todo in todos %}
            <li>
                <strong>{{ todo.title | capfirst }}</strong>
            </li>

            <a href="{% url 'edit-todo' todo.id%}">
                <button>Edit</button>
            </a>

            <a href="{% url 'delete-todo' todo.id%}">
                <button>Delete</button>
            </a>

            <br><br>
        {% endfor %}
    </ol>
</body>
</html>