{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/ios-filled/50/null/todo-list.png">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
</head>

<body>
    <div class="login-form">
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="content">
                <div class="input-field">
                    <input type="text" placeholder="Username" name="username">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <a href="#" class="link">Forgot Your Password?</a>
            </div>
            <div class="action">
                <button>Register</button>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>

</body>

</html>