<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/ios-filled/50/null/todo-list.png">
</head>

<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter your username..." name="username">
        <input type="password" placeholder="Enter your password..." name="password">
        <input type="submit" value="Login">
    </form>
</body>

</html>